template element TextArea(MyTemplates/Text)
{
    font_name Blue
		metrics_mode pixels
		char_height 15
		colour 1.0 1.0 1.0    
}

template element TextArea(MyTemplates/SmallText)
{
    font_name Blue
		metrics_mode pixels
		char_height 12
		colour 1.0 1.0 1.0    
}

