template element TextArea(MyTemplates/TextScore)
{
    font_name Arcade
		metrics_mode pixels
		char_height 15
		colour 1.0 1.0 1.0    
}

Score
{
    zorder 500

    container Panel(score) 
    {
	      metrics_mode pixels
        left 3
        top 10
        width 100
        height 100
        vert_align top
        horz_align left
        material scoremat
		    element TextArea(scoreLabel) : MyTemplates/TextScore
		    {
				  top 5
				  left 5
		    }
		    element TextArea(scoreValue) : MyTemplates/TextScore
		    {
				  top 25
				  left 5
		    }
    }	  

}
