Splash
{
    zorder 500

    container Panel(splash) 
    {
	      metrics_mode pixels
        left 0
        top 0
        width 800
        height 600
        vert_align top
        horz_align left
        material splashmat
    }	  

}
