template element TextArea(MyTemplates/TextTest)
{
    font_name MakeStart
		metrics_mode pixels
		char_height 35
		colour 0.0 0.0 0.0    
}

TestOverlay
{
    zorder 300
		container Panel(test) 
		{
			  metrics_mode pixels
			left 35
			top -100
			width 140
			height 50
			vert_align bottom
			horz_align left
			material stagedisplaymat
				element TextArea(TestValue) : MyTemplates/TextTest
				{
					  top -15
					  left 0
					  horz_align center
					  vert_align center
					  alignment center
				}
		}	  
}
